<div class="archive-container">
  
  <div class="header">
    <h1>Archivio delle Partite</h1>
  </div>

  @if (isLoading) {
    <div class="loading-state">
      <p>⏳ Recupero dati dall'archivio in corso...</p>
    </div>
  }

  @if (!isLoading && archivedGames.length === 0) {
    <div class="empty-state">
      <p>Nessuna partita è stata ancora conclusa oggi. Sii il primo a lasciare il segno!</p>
    </div>
  }

  @if (!isLoading && archivedGames.length > 0) {
    <div class="table-responsive">
      <table class="archive-table">
        <thead>
          <tr>
            <th>Giocatore</th>
            <th>Esito</th>
            <th>Tentativi</th>
            <th>Tempo</th>
            <th>Data e Ora</th>
            <th>Azione</th>
          </tr>
        </thead>
        
        <tbody>
          @for (game of archivedGames; track game.id) {
            <tr 
            [class.won-row]="game.status === 'WON'"
            [class.lost-row]="game.status === 'SURRENDERED'">
              <td><strong>{{ game.player }}</strong></td>
              <td>{{ translateStatus(game.status) }}</td>
              <td>{{ game.attemptsCount }}</td>
              <td>{{ formatTime(game.timeTakenMs) }}</td>
              <td>{{ game.endTime | date:'dd/MM/yyyy, HH:mm' }}</td>
              
              <td>
                <button [routerLink]="['/archive', game.id]" class="btn-details">
                  Vedi Dettagli
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  <div class="archive-promo-section">
  <h3>Vuoi scoprire chi sono i campioni assoluti?</h3>
  <p>Dai un'occhiata ai giocatori più accaniti.</p>
  
  <button routerLink="/leaderboard" class="btn-archive">
    Torna alla Classifica Globale
  </button>
</div>

</div>