<div class="archive-container">
  
  <div class="header">
    <h1>Archivio delle Partite</h1>
  </div>

  @if (isLoading) {
    <div class="loading-state">
      <p>Recupero dati dall'archivio in corso...</p>
    </div>
  }

  @if (!isLoading && archivedGames.length === 0) {
    <div class="empty-state">
      <p>Nessuna partita è stata ancora conclusa oggi. Sii il primo a lasciare il segno!</p>
    </div>
  }

  @if (!isLoading && archivedGames.length > 0) {
    <div class="table-responsive">
      <table class="archive-table">
        <thead>
          <tr>
            <th>Giocatore</th>
            <th>Esito</th>
            <th>Tentativi</th>
            <th>Tempo</th>
            <th>Data e Ora</th>
            <th></th>
          </tr>
        </thead>
        
        <tbody>
          @for (game of paginatedGames; track game.id) {
            <tr>
              <td><strong>{{ game.player }}</strong></td>
              <td>
                @if (game.status === 'WON') {
                  <span class="badge win">Vittoria</span>
                } @else if (game.status === 'SURRENDERED') {
                  <span class="badge loss">Resa</span>
                }
              </td>
              <td>{{ game.attemptsCount }}</td>
              <td>{{ game.timeTakenMs | formatTime }}</td>
              <td>{{ game.endTime | date:'dd/MM/yyyy, HH:mm' }}</td>
              
              <td>
                <button [routerLink]="['/archive', game.id]" class="btn-details">
                  Vedi Dettagli
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>

      <!-- Controlli di paginazione -->
      <div class="pagination-controls">
        <button class="btn-page" [disabled]="currentPage === 1" (click)="prevPage()">
          ⬅️ Precedente
        </button>
        <span class="page-info">Pagina {{ currentPage }} di {{ totalPages }}</span>
        <button class="btn-page" [disabled]="currentPage === totalPages" (click)="nextPage()">
          Successiva ➡️
        </button>
      </div>
    </div>
  }

  <div class="archive-promo-section">
  <h3>Vuoi scoprire chi sono i campioni assoluti?</h3>
  <p>Dai un'occhiata ai giocatori più accaniti.</p>
  
  <button routerLink="/leaderboard" class="btn-archive">
    Torna alla Classifica Globale
  </button>
</div>

</div>